.row
  .col-md-10
    %input.form-control{readonly: true, value: '{{json_from_hash(column.selected_func)}}', style: 'margin: 10px 0px' }
.row
  .col-md-2{ style: "background-color: #eee; border-radius: 5px; padding-bottom: 20px; margin-bottom: 20px;" }
    %h5 Function
    %select.form-control{ 'ng-options' => "func as func.name for func in column.valid_functions",
                          'ng-model' => 'column.selected_func'}
    %p {{column.selected_func.description}}

  .col-md-10
    %h5 Arguments
    .row
      .col-md-4{'ng-repeat' => 'arg in column.selected_func.args', style: "border: 1px solid #eee; border-radius: 5px; padding-bottom: 20px; margin-bottom: 20px;" }
        %strong {{arg.name}}
        %p {{arg.description}}
        %div{'ng-include' => 'arg.template'}
