!!!
%html
  %head
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %script{src: 'https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js' }
    %script{src: 'http://code.jquery.com/jquery-2.1.0.min.js' }
    %script{src: 'http://underscorejs.org/underscore-min.js' }
    %link{href: "http://getbootstrap.com/dist/css/bootstrap.min.css", rel: "stylesheet"}
    :javascript
      function ExampleController($scope) {
        $scope.valid_functions = #{locals[:valid_functions].to_json};
        $scope.raw_data_columns = #{locals[:raw_data_columns].to_json};
        $scope.target_columns = #{locals[:target_columns].to_json};

        $scope.template_for = function(arg_name) {
          var type = arg_name.split('_')[0];
          if(type == 'list') {
            type = 'list_' + arg_name.split('_')[1];
          }
          return type + '.html';
        };

        $scope.json_from_hash = function(func) {
          if(func && func.args) {
            var arg_values = _.map(func.args, function(arg) {
              if(arg.name.split('_')[0] == 'hash') {
                return _.object(_.compact(arg.keys), arg.values);
              } else if(arg.name.split('_')[0] == 'list') {
                return ['list'].concat(_.compact(arg.values));
              } else {
                return arg.value;
              }
            })
            var json = [func.name].concat(arg_values);
            return JSON.stringify(json);
          }
        };

        $scope.remove_blanks = function(values) {
          return _.compact(values).concat(['']);
        };

        $scope.remove_blanks_from_hash = function(arg) {
          var new_values = [];
          _.each(arg.keys, function(key, index) {
            if(_.identity(key)) {
              new_values.push(arg.values[index] || "");
            }
          });
          arg.keys = _.compact(arg.keys).concat(['']);
          arg.values = new_values;
        };
      };
  %body{'ng-app' => true}
    %div{'ng-controller' => 'ExampleController'}
      %script{type: 'text/ng-template', id: "lookup.html"}
        %select.form-control{ 'ng-options' => "raw_column as raw_column for raw_column in raw_data_columns",
                              'ng-model' => 'arg.value'}

      %script{type: 'text/ng-template', id: "str.html"}
        %input.form-control{ 'ng-model' => 'arg.value' }

      %script{type: 'text/ng-template', id: "hash.html"}
        %div{"ng-init" => 'arg.keys = [""]'}
        %div{"ng-init" => 'arg.values = [""]'}
        .form-inline.text-center{'ng-repeat' => 'key in arg.keys track by $index'}
          %input.form-control{ 'ng-model' => 'arg.keys[$index]',
                               'ng-change' => 'remove_blanks_from_hash(arg)',
                               'style' => 'width: 45%'}
          %span
            \:
          %input.form-control{ 'ng-model' => 'arg.values[$index]',
                               'style' => 'width: 45%'}

      %script{type: 'text/ng-template', id: "list_str.html"}
        %div{"ng-init" => "arg.values = ['']"}
        %div{'ng-repeat' => 'val in arg.values track by $index'}
          %input.form-control{ 'ng-model' => 'arg.values[$index]',
                               'ng-change' => 'arg.values = remove_blanks(arg.values)'}

      %script{type: 'text/ng-template', id: "list_lookup.html"}
        %select.form-control{'multiple' => 'true',
          'ng-options' => "raw_column as raw_column for raw_column in raw_data_columns",
          'ng-model' => 'arg.values'}

      %script{type: "text/ng-template", id: "function.html"}
        .col-md-2{ style: "background-color: #eee; border-radius: 5px; padding-bottom: 20px; margin-bottom: 20px;" }
          %h5 Function
          %select.form-control{'ng-options' => "func as func.name for func in valid_functions",
                  'ng-model' => 'column.func'}

        .col-md-10
          %h5 Arguments
          .row
            .col-md-4{'ng-repeat' => 'arg in column.func.args', style: "border: 1px solid #eee; border-radius: 5px; padding-bottom: 20px; margin-bottom: 20px;" }
              %strong {{arg.name}}
              %div{'ng-include' => 'template_for(arg.name)'}


      .container
        .row{'ng-repeat' => 'column in target_columns'}
          .col-md-1
            {{column.name}}
          .col-md-11
            .row
              .col-md-10
                %input.form-control{readonly: true, value: '{{json_from_hash(column.func)}}' }
            .row
              .col-md-10
                %div{'ng-include' => '"function.html"'}
