!!!
%html
  %head
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %script{src: 'https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js' }
    %script{src: 'http://code.jquery.com/jquery-2.1.0.min.js' }
    %script{src: 'http://underscorejs.org/underscore-min.js' }
    %script{src: 'example_controller.js' }
    %script{src: 'json_func_directive.js' }
    %link{href: "http://getbootstrap.com/dist/css/bootstrap.min.css", rel: "stylesheet"}
    :javascript
      valid_functions = #{locals[:valid_functions].to_json};
      raw_data_columns = #{locals[:raw_data_columns].to_json};
      target_columns = #{locals[:target_columns].to_json};
  %body{'ng-app' => 'exampleApp'}
    %div{'ng-controller' => 'ExampleController'}
      = haml :templates

      .container
        .row{'ng-repeat' => 'column in target_columns'}
          .col-md-1
            {{column.name}}
          .col-md-11
            %json_func_builder{ 'column' => '{{column}}' }
