%html
  %head
    %script{src: 'https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js' }
    %script{src: 'http://code.jquery.com/jquery-2.1.0.min.js' }
    %script{src: 'http://underscorejs.org/underscore-min.js' }
    %link{href: "http://ivaynberg.github.io/select2/select2-3.5.1/select2.css", rel: "stylesheet"}
    :javascript
      function ExampleController($scope) {
        $scope.valid_functions = #{locals[:valid_functions].to_json};
        $scope.raw_data_columns = #{locals[:raw_data_columns].to_json};
        $scope.target_columns = #{locals[:target_columns].to_json};

        $scope.template_for = function(arg_name) {
          var type = arg_name.split('_')[0];
          if(type == 'list') {
            type = 'list_' + arg_name.split('_')[1];
          }
          return type + '.html';
        };

        $scope.json_from_hash = function(func) {
          if(func && func.args) {
            var arg_values = _.map(func.args, function(arg) {
              if(arg.name.split('_')[0] == 'list') {
                return ['list'].concat(arg.values);
              } else {
                return arg.value;
              }
            })
            var json = [func.name].concat(arg_values);
            return JSON.stringify(json);
          }
        };

        $scope.remove_blanks = function(values) {
          return _.compact(values).concat(['']);
        };
      };
  %body{'ng-app' => true}
    %div{'ng-controller' => 'ExampleController'}
      %script{type: 'text/ng-template', id: "lookup.html"}
        %select.select2{'ng-options' => "raw_column as raw_column for raw_column in raw_data_columns",
          'ng-model' => 'arg.value'}

      %script{type: 'text/ng-template', id: "str.html"}
        %input{ 'ng-model' => 'arg.value' }

      %script{type: 'text/ng-template', id: "hash.html"}
        %div{"ng-init" => "arg.value = {}"}
        %div{'ng-repeat' => 'val in arg.value.keys track by $index'}
          %input{ 'ng-model' => 'arg.value.keys[$index]' }

        %div{'ng-repeat' => 'val in arg.value.values track by $index'}
          %input{ 'ng-model' => 'arg.value.values[$index]' }

      %script{type: 'text/ng-template', id: "list_str.html"}
        %div{"ng-init" => "arg.values = ['']"}
        %div{'ng-repeat' => 'val in arg.values track by $index'}
          %input{ 'ng-model' => 'arg.values[$index]',
                  'ng-change' => 'arg.values = remove_blanks(arg.values)'}

      %script{type: 'text/ng-template', id: "list_lookup.html"}
        %select.select2{'multiple' => 'true',
          'ng-options' => "raw_column as raw_column for raw_column in raw_data_columns",
          'ng-model' => 'arg.values'}

      %script{type: "text/ng-template", id: "function.html"}
        %div{style: "display: inline-block;"}
          %div
            Function
          %select{'ng-options' => "func as func.name for func in valid_functions",
                  'ng-model' => 'column.func'}

        %div{style: "display: inline-block;"}
          %div
            Arguments
          %div{'ng-repeat' => 'arg in column.func.args'}
            {{arg.name}}
            %div{'ng-include' => 'template_for(arg.name)'}


      %table
        %div{'ng-repeat' => 'column in target_columns'}
          %span
            {{column.name}}
          %div{'ng-include' => '"function.html"', style: "display: inline-block;"}
          %div{style: "display: inline-block;"}
            {{json_from_hash(column.func)}}
